.form {
  display: inline-flex;
  flex-direction: column;
}

.form__label {
  display: block;
  text-align: left;
}

.form__label-text {
  margin-bottom: 10px;
  display: block;

  font-family: Rubik;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: #000;
}

.form__input {
  margin-bottom: 15px;
  padding: 0 5px;
  height: 25px;

  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: #000;

  border: none;
}

.form__button {
  margin: 0 auto;
  display: block;
  background: #ffc884;
  border: none;
  border-radius: 7px;

  font-family: Rubik;
  font-size: 16px;
  letter-spacing: 0.03em;

  width: 130px;
  height: 40px;

  cursor: pointer;
  box-shadow: 4px 4px 100px -9px rgba(34, 60, 80, 0.41);
}

.form__button:hover {
  background: #ffb555;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
