.contacts {
  margin: 0 auto;
  padding: 20px 25px;
  display: inline-block;
  /* width: 350px; */
  text-align: center;

  border: 1px #fff solid;
  border-radius: 15px;
  background-color: #ffe4c4;
}
.contacts__list {
  margin-top: -10px;
  margin-left: -10px;
  display: inline-flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  letter-spacing: 0.03em;

  /* max-width: 300px; */
  font-size: 18px;
}

.contacts__nothingText {
  font-family: Rubik;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.contacts__item {
  margin-top: 10px;
  margin-left: 10px;
  display: inline-flex;

  justify-content: space-between;
  align-items: baseline;

  position: relative;
}

.contacts__text {
  margin-right: 10px;
}

.contacts__btn {
  padding: 5px;
  display: inline-block;
  background: #ffc884;
  border: none;
  border-radius: 7px;

  font-family: Rubik;
  font-size: 16px;
  letter-spacing: 0.03em;

  /* width: 60px; */
  /* height: 40px; */

  cursor: pointer;
  box-shadow: 4px 4px 100px -9px rgba(34, 60, 80, 0.41);
}

.contacts__btn:hover {
  background: #ffb555;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.contacts__item::before {
  content: '\2756';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: -18px;
}
